body {
    margin: 0;
    padding: 0;
    background-image: url('../imgs/slice.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.square {
    width: 1000px;
    height: 550px;
    background-color: white;
    opacity: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    border-radius: 1%;
    margin: 0; 
}

.boxTitle {
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -0.5px;
    align-self: center; 
}


#nameDisplay {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: -1px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: lightgray;
    margin: 10px;
}

.name-input {
    width: 40%;
    padding: 10px;
    opacity: 100%;
    border: 2px solid white;
    background-color: lightgray;
    color: black;
    margin: 10px;
    align-self: flex;
}

.continue-button {
    position: absolute;
    margin-top: 480px;
    margin-right: 40px;
    padding: 10px 20px; 
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    align-self: flex-end; 
    text-decoration: none; 
}

select#cuisinePreferences {
    padding: 10px;
    width: 85%;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

select#mealsList {
    padding: 10px;
    width: 85%;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

select#machinePreferences {
    padding: 10px;
    width: 85%;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


#containerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cuisine-container {
 
    align-self: flex-start;
    letter-spacing: -0.5px;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}
#cuisineTitle {
    font-size: 13.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

#mealsContainer {
    align-self: flex-start;
    letter-spacing: -0.5px;
    width: 50%;
    background-color: white;
    margin: 0; 
    padding: 0; 
}

#mealsTitle {
    font-size: 13.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}


#machineContainer {
    align-self: flex-start;
    letter-spacing: -0.5px;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#machineTitle {
    font-size: 13.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding-bottom: -5px;
}

#machinePreferences {
    padding: 10px;
    width: 100%; 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.preferences-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
}
